page-about {
    ion-content {
        background: url('../assets/imgs/Blue-Gradient.jpg');

        ion-item {
            border-bottom: 1px solid black;          
        }

        ion-card {
            ion-grid {

                .col {
                    border: thin solid black;
                }
            }  
        }
    }
}
