<ion-header>
  <ion-navbar color="tab-color">
    <ion-title>
      Drinks List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

  </ion-card>
  <ion-card *ngIf="!noTableData">
    <!-- <ion-list-header color="primary">
      Drinkslist
    </ion-list-header>
    <ion-list>
        <ion-item *ngFor="let drink of drinksList" lines="inset">
          <h2>{{ drink.name }}</h2>
          <h3>Amount: {{ drink.gramsOfSugar }}</h3>
          <p>Volume: {{ drink.volume }}</p>
        </ion-item>
    </ion-list> -->
    <ion-grid>
        <ion-row style="background-color: #488aff;">
          <ion-col>
            <div>
              Name
            </div>
          </ion-col>
          <ion-col>
            <div>
              Amount of Sugar (g)
            </div>
          </ion-col>
          <ion-col>
            <div>
              Volume (ml)
            </div>
          </ion-col>
          <ion-col>
              <div>
                Date
              </div>
            </ion-col>
            <!-- <ion-col>
              <div>
                User ID
              </div>
            </ion-col> -->
        </ion-row>
        <ion-row *ngFor="let drink of drinksList">
            <ion-col class="col">
              <div>
                {{ drink.name }}
              </div>
            </ion-col>
            <ion-col class="col">
              <div>
                {{ drink.gramsOfSugar }}g
              </div>
            </ion-col>
            <ion-col class="col">
              <div>
                {{ drink.volume }} ml
              </div>
            </ion-col>
            <ion-col class="col">
                <div>
                {{ drink.save_date }}
                </div>
              </ion-col>
              <!-- <ion-col class="col">
                <div>
                {{ drink.userid }}
                </div>
              </ion-col> -->
          </ion-row>
      </ion-grid>
  </ion-card>
  <ion-card *ngIf="noTableData">
    <ion-item>No data found!</ion-item>
  </ion-card>
  <!-- <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
</ion-content>
