<ion-header>
  <!-- <ion-navbar>
    <ion-title>logfdfsgin-form</ion-title>
  </ion-navbar> -->
  <!-- <img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-512.png"/> -->
</ion-header>

<ion-content padding>
  <!-- <ion-item> -->
      <img src="assets/imgs/abstract-user-flat-3.png" width="100" align="center" class="user_icon"/>
  <!-- </ion-item> -->
  <form (ngSubmit)="loginAttempt()" [formGroup]="cred">
    <ion-item>
      <ion-label><ion-icon name="finger-print"></ion-icon></ion-label>
      <ion-input clearInput placeholder="Username" [(ngModel)]="username" formControlName="username"></ion-input>
    </ion-item>
    <!-- <br/> -->
    <ion-item style="margin-top:10px;">
      <ion-label><ion-icon name="key"></ion-icon></ion-label>
      <ion-input clearInput placeholder="Password" [(ngModel)]="password" type="password" formControlName="password"></ion-input>
      <!-- <p style="text-align:right; text-decoration: underline" (click)="sendEmail">Forgot Password?</p> -->
    </ion-item>

    <button ion-button style="text-decoration: underline; background: none; color: gray; text-align: right; text-transform: capitalize;" (click)="sendEmail()">Forgot Password?</button>
  <button full ion-button style="color: white; background-color: #030f23; border-radius: 3px;margin-top: 20px; border: 1px solid white; letter-spacing: 2px; font-family: Arial; height: 50px;" type="submit" [disabled]="!cred.valid">Login</button>
  <button full ion-button style="color: #030f23; background-color: white; border-radius: 3px;margin-top: 10px; border: 1px solid #030f23; font-family: Arial; font-weight: bold; height: 50px;" (click)="registerUser()">Register</button>
  </form>
  <!-- <button full ion-button style="color: #030f23; background-color: white; border-radius: 3px;margin-top: 10px; border: 1px solid #030f23; font-family: Arial; font-weight: bold; height: 50px;" (click)="sendEmail()">Send Email</button> -->
</ion-content>