page-login-form {
    
    ion-content {
        background: url('../assets/imgs/Blue-Gradient.jpg');

    ion-item {
        background: rgba($color: black, $alpha: 0.18) !important;
        border-radius: 10px; 

        ion-input {
            text-color: #ffffff;
            color: #ffffff;
        }
    }

}

img.user_icon {
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 90px;
}
}
