page-register {
    ion-content {
        background: url('../assets/imgs/Blue-Gradient.jpg');

        ion-item {
            background: rgba($color: black, $alpha: 0.18) !important;
            border-radius: 10px;

            ion-input {
                text-color: #ffffff;
                color: #ffffff;
            }
        }

        button {
            padding: 5px 0px 5px 0px;
        }
    }
}
