<ion-header>

  <ion-navbar color="tab-color">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <ion-list>
      <ion-item>
          <ion-label stacked>Username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ng-container *ngFor="let val of validation_messages.username">
          <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="registerForm.get('username').hasError(val.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
            {{ val.message }}
          </div>
      </ng-container>
      <ion-item style="margin-top:15px;">
          <ion-label stacked>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ng-container *ngFor="let val of validation_messages.password">
          <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="registerForm.get('password').hasError(val.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            {{ val.message }}
          </div>
      </ng-container>
      <ion-item style="margin-top:15px;">
          <ion-label stacked>Confirm Password</ion-label>
          <ion-input type="password" formControlName="conf_pass"></ion-input>
      </ion-item>
      <ng-container *ngFor="let val of validation_messages.conf_pass">
          <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="registerForm.get('conf_pass').hasError(val.type) && (registerForm.get('conf_pass').dirty || registerForm.get('conf_pass').touched)">
            {{ val.message }}
          </div>
      </ng-container>
  </ion-list>
      <!-- <ion-item> -->
        <ion-list radio-group formControlName="gender">
          <ion-label color="light">Gender</ion-label>
          <ion-item>
            <ion-label color="light">Male</ion-label>
            <ion-radio value="M"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label color="light">Female</ion-label>
            <ion-radio value="F"></ion-radio>
          </ion-item>
        </ion-list>
        <ng-container *ngFor="let val of validation_messages.gender">
            <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="registerForm.get('gender').hasError(val.type) && (registerForm.get('gender').dirty || registerForm.get('gender').touched)">
              {{ val.message }}
            </div>
        </ng-container>
      <!-- </ion-item> -->
      <button ion-button full style="color: #030f23; background-color: white; border-radius: 3px;margin-top: 20px; border: 1px solid #030f23; font-family: Arial; font-weight: bold; height: 50px;" type="submit">Submit</button>
    <!-- </form> -->
</form>
</ion-content>
