<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="emailPass" (ngSubmit)="checkIfUserExist()">
      <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input clearInput placeholder="Enter your email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked></ion-label>
        <ion-input clearInput placeholder="Enter your username" formControlName="username"></ion-input>
      </ion-item>

      <button full ion-button style="color: white; background-color: #030f23; border-radius: 3px;margin-top: 20px; border: 1px solid white; letter-spacing: 2px; font-family: Arial; height: 50px;" type="submit" [disabled]="!emailPass.valid">Send Email</button>
  </form>
</ion-content>
