page-contact {
    .ios, .md {

        page-home {
    
            .scroll-content {
                background-color: map-get($colors, light);
            }
    
            ion-card-header {
                font-weight: bold;
            }
    
        }
    
    }

    ion-content {
        background: url('../assets/imgs/Blue-Gradient.jpg');
    }
}
