<ion-header>
  <ion-navbar color="tab-color">
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 15px 10px 15px 10px;">
    <ion-avatar>
      <img *ngIf="user_gender == 'F'" src="assets/imgs/avatar-girl.png" style="margin: auto; max-width: 100px; max-height: 100px;">
      <img *ngIf="user_gender == 'M'" src="assets/imgs/avatar-guy.png" style="margin: auto; max-width: 100px; max-height: 100px;">
    </ion-avatar>
    <p style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 10px;">{{ user_name }}</p>
    <p *ngIf="max_reach == true" style="color: red; font-weight: bold;">You have exceeded the maximum sugar intake for this day.</p>
    <ion-list style="text-align:center; margin-top: 10px; font-weight: bold;">
      <ion-item-divider (click)="logoutUser()" color="dark">LOGOUT</ion-item-divider>
    </ion-list>
  </ion-card>

  <ion-card style="background: rgba(6, 25, 56, 0.5)">
    <ion-card-header style="color: #FFFFFF;">
      Weekly Report
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card style="background: rgba(6, 25, 56, 0.5)">
    <ion-card-header style="color: #FFFFFF;">
      Monthly Report
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
