<ion-header>
  <!-- <ion-navbar color='tertiary'>
    <ion-title>Device</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content padding>
  <ion-card color="primary">
    <ion-card-header>
    </ion-card-header>
  <ion-card-content align="center" style="font-size: 50px; padding-bottom: 30px;">
      {{ sensorData }}°<sup style="font-size: 12px;">Brix</sup>
    </ion-card-content>
  </ion-card>

  <ion-item color="tab-color" no-lines style="margin-bottom: 15px;">
    <ion-label>Connect to Device</ion-label>
    <ion-toggle (ionChange)="deviceSwitch()" [(ngModel)]="switch"></ion-toggle>
  </ion-item>

  <ion-item color="warning" style="border: 1px solid rgb(243, 188, 6);">
    <p><b>Note:</b> Cannot read data greater than 15° brix and less</p>
    <p>than 1° brix!</p>
  </ion-item>
  <form (ngSubmit)="saveDrinkRecord()" [formGroup]="drinkDetails">
  <!-- Input with placeholder -->
  <ion-item color="tab-color" style="margin-bottom: 10px;" no-lines>
    <ion-label stacked>Name</ion-label>
    <ion-input clearInput formControlName="drinkName"></ion-input>
  </ion-item>
  <ng-container *ngFor="let val of validation_messages.drinkName">
      <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="drinkDetails.get('drinkName').hasError(val.type) && (drinkDetails.get('drinkName').dirty || drinkDetails.get('drinkName').touched)">
        {{ val.message }}
      </div>
  </ng-container>
  
  <!-- Number type input -->
  <ion-item color="tab-color" no-lines style="margin-bottom: 10px;">
    <ion-label stacked>Volume (ml)</ion-label>
    <ion-input type="number" formControlName="drinkVolume"></ion-input>
  </ion-item>
  <ng-container *ngFor="let val of validation_messages.drinkVolume">
      <div class="error-message" style="color: red; margin-left: 15px; margin-top: 5px;" *ngIf="drinkDetails.get('drinkVolume').hasError(val.type) && (drinkDetails.get('drinkVolume').dirty || drinkDetails.get('drinkVolume').touched)">
        {{ val.message }}
      </div>
  </ng-container>
  <button ion-button full color="primary" style="border-radius: 5px; height: 50px;" type="submit" [disabled]="!drinkDetails.valid">Save</button>
  <!-- <button ion-button full color="secondary" (click)="bluetoothCheckStatus()">Connect</button> -->
  </form>

</ion-content>