<ion-header>

  <ion-navbar color="tab-color">
    <ion-title>Sugar Meter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="totalSugarIntake > maxSugar">
    <div style="color: red; font-weight: bold;">
      You have exceeded the maximum sugar intake for this day!
    </div>
  </ng-container>
  <ion-card style="background: rgba(0,0,0,0);">
    <ion-card-header style="color: #FFFFFF;">
        Sugar Intake for the Day in grams (g)
    </ion-card-header>
    <ion-card-content #sugarMeterCon style="width: 90%; height: 250px;border-bottom: none;">
    </ion-card-content>
  </ion-card>
  <ion-grid>
      <ion-row style="background-color: #488aff;">
        <ion-col>
          <div>
            Name
          </div>
        </ion-col>
        <ion-col>
          <div>
            Amount of Sugar (g)
          </div>
        </ion-col>
        <ion-col>
          <div>
            Volume (ml)
          </div>
        </ion-col>
        <ion-col>
            <div>
              Date
            </div>
          </ion-col>
          <!-- <ion-col>
            <div>
              User ID
            </div>
          </ion-col> -->
      </ion-row>
      <ion-row *ngFor="let drink of drinksList" style="background: #FFFFFF;">
          <ion-col class="col">
            <div>
              {{ drink.name }}
            </div>
          </ion-col>
          <ion-col class="col">
            <div>
              {{ drink.gramsOfSugar }}g
            </div>
          </ion-col>
          <ion-col class="col">
            <div>
              {{ drink.volume }} ml
            </div>
          </ion-col>
          <ion-col class="col">
              <div>
              {{ drink.save_date }}
              </div>
            </ion-col>
            <!-- <ion-col class="col">
              <div>
              {{ drink.userid }}
              </div>
            </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
